.tree {
  &:global(.ant-tree.ant-tree) {
    --ant-color-text: var(--monitor-primary-text-color);
    --ant-tree-node-selected-color: var(--monitor-primary-text-color);
    --ant-tree-node-hover-color: var(--monitor-primary-text-color);
    --ant-tree-node-selected-bg: transparent;
    --ant-tree-switcher-size: 18px;
    --ant-control-interactive-size: 12px;
    --ant-border-radius-sm: 2px;
    --ant-padding-xs: 4px;
    --ant-tree-indent-size: 16px;

    background-color: transparent;
    font-size: 12px;

    :global(.ant-tree-treenode) {
      margin-bottom: 0;
    }

    :global(.ant-tree-treenode-checkbox-checked) {
      background-color: #60a5fa29;
    }
  }
}
